<section class="groups-wrapper">
  <%= render 'layouts/header', title: 'Group' %>

  <div id="groups">
    <% @groups.each do |group| %>
      <%= render group %>
    <% end %>
  </div>

  <div class="new-group-wrapper">
    <%= link_to "New group", new_group_path, class: 'new-group-btn' %>
  </div>
</section>
