<section>
  <p style="color: green"><%= notice %></p>
    <%= link_to groups_path do %>
      <span class="material-symbols-outlined">
        arrow_back
      </span>
    <% end %>

  <%= render @group %>

  <div class="action-group">
    <%= button_to "Destroy this group", @group, method: :delete, class: 'btn-delete' %>
  </div>
</section>
