<section class="welcome">
  <div class="logo-wrapper">
    <h1 class="logo">Budgeto</h1>
  </div>

  <div class="container">
    <div class="btn-wrapper">
      <button class="btn-primary">
        <%= link_to 'LOGIN', new_user_session_path %>
      </button>
      <br>
      <br>
      <button class="btn-secondary">
        <%= link_to 'SIGN UP', new_user_registration_path %>
      </button>
    </div>
  </div>
</section>
