.group-wrapper {
  background-color: white;
  padding: 10px 10px 8px 10px;
  margin: 15px 0;
}

.group {
  display: flex;
}

.group-icon {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.icon {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.group-infos {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.name-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 18px;
  color: #000;
  font-weight: '600';
}

.date {
  font-size: 13px;
  color: #a9a9a9;
}

.sum {
  margin-top: 15px;
}
